<div class="table-container mat-elevation-z3">
  <div class="caption">
    <div class="leftS"><h5>Liste des Categories |</h5></div>

    <div class="rightS">
      <!--  -->
      <div class="searchetajout">
        <!--  -->
        <div class="search-box">
          <button class="btn-search"><i class="fas fa-search"></i></button>
          <input
            matInput
            (input)="filterelement($event)"
            placeholder="Search"
            class="input-search"
          />
        </div>
        <!--  -->
        <button class="btn add-user-btn" (click)="openDialog()">
          <mat-icon>add</mat-icon>Ajouter Catégorie
        </button>
      </div>
    </div>
  </div>
  <!-- --------------------------------------------------------TABLEAU------------------------------ -->

  <div class="tablecontainer">
    <!--  -->
    <table class="mat-elevation-z8 user-table tableS">
      <!--  -->
      <thead role="rowgroup">
        <tr>
          <th>Id</th>
          <th>Nom catégorie</th>
          <th>Sous catégorie</th>
          <th>Action</th>
        </tr>
      </thead>
       
      <tbody>
        <tr *ngFor="let categorie of listCate">
          <td>{{ categorie.id }}</td>
          <td>{{ categorie.libelle }}</td>
          <td></td>
          <td>
            <button mat-icon-button >
              <mat-icon style="color: #ee4d2d" (click)="Supprimercate(categorie.id)">delete</mat-icon>
            </button>
            <button mat-icon-button  (click)="editcate(categorie)">
              <mat-icon style="color: #ee4d2d" >edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
      
    </table>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      class="pagination"
    >
    </mat-paginator>
  </div>
</div>
