<div class="table-container">
    <h5>Liste des Commandes |</h5>
    <table id="example" class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>N°Commande</th>
          <th>Date</th>
          <th>Nom du client</th>
          <th>Contact client</th>
          <th>Total Commande</th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>12/03/2023</td>
          <td>Bakary Samaké</td>
          <td>80000090</td>
          <td>100000 F</td>
          <td>
            <select>
              <option value="livré">Etat de la commande</option>
              <option value="livré">Livré</option>
              <option value="en cours">En cours</option>
              <option value="expédié">Expédié</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>1/03/2023</td>
          <td>Hamidou Diallo</td>
          <td>80000090</td>
          <td>100000 F</td>
          <td>
            <select>
              <option value="">Etat de la commande</option>
              <option value="livré">Livré</option>
              <option value="en cours">En cours</option>
              <option value="expédié">Expédié</option>
            </select>
          </td>
        </tr>
        <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="livré">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="livré">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="livré">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="livré">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="livré">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select>
                <option value="">Etat de la commande</option>
                <option value="livré">Livré</option>
                <option value="en cours">En cours</option>
                <option value="expédié">Expédié</option>
              </select>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
