<div class="table-container">
    <h5>Liste des Commandes |</h5>
    <table id="example" class="table   ">
      <thead>
        <tr>
          <th>N°Commande</th>
          <th>Date</th>
          <th>Nom du client</th>
          <th>Contact client</th>
          <th>Total Commande</th>
          <th>Statut Commande</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>12/03/2023</td>
          <td>Bakary Samaké</td>
          <td>80000090</td>
          <td>100000 F</td>
          <td>
            <select class="custom-select" class="custom-select">
              <option value="Default" class="default">Default</option>
              <option value="Livré" class="livré">Livré</option>
              <option value="En Cours" class="encours">En Cours</option>
              <option value="Expedié" class="expedié">Expedié</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>1/03/2023</td>
          <td>Hamidou Diallo</td>
          <td>80000090</td>
          <td>100000 F</td>
          <td>
            <select class="custom-select">
              <option value="Default" class="default">Default</option>
              <option value="Livré" class="livré">Livré</option>
              <option value="En Cours" class="encours">En Cours</option>
              <option value="Expedié" class="expedié">Expedié</option>
            </select>
          </td>
        </tr>
        <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>12/03/2023</td>
            <td>Bakary Samaké</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>1/03/2023</td>
            <td>Hamidou Diallo</td>
            <td>80000090</td>
            <td>100000 F</td>
            <td>
              <select class="custom-select">
                <option value="Default" class="default">Default</option>
                <option value="Livré" class="livré">Livré</option>
                <option value="En Cours" class="encours">En Cours</option>
                <option value="Expedié" class="expedié">Expedié</option>
    
              </select>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
<script>
  
</script>