<div class="container-fluid " >

<div class="containe "></div>

      <div class="container bg-white mt-5 bordure tableau">
        <h2  CLASS="text-dark">Liste des clients</h2>
    <table class="tables ">
      <thead class="borderBottom">
      <tr >
        <th >Id</th>
        <th >Nom prénom </th>
        <th >Mot de passe  </th>
        <th>Téléphone</th>
        <th>ََActions</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td>1</td>
        <td>Adama Diarra</td>
        <td>******</td>
        <td>99 44 32 44</td>

        <td>
          <a class="btn optionbtn btns">Desactif</a>&nbsp;
        <a  class=" btn delete"><i class="fa fa-trash btns"></i> </a>&nbsp;

        </td>
      <tr >
        <td>1</td>
        <td>Adama Diarra</td>
        <td>******</td>
        <td>99 44 32 44</td>

        <td>
          <a class="btn optionbtn btns">Desactif</a>&nbsp;
          <a  class=" btn delete"><i class="fa fa-trash btns"></i> </a>&nbsp;

        </td>
      </tr>
      </tbody>
    </table>
        <div class= " row ">
            <div class="col-md-6 mx-auto">
              <nav aria-label="Page navigation example" >
                <ul class="pagination borderall bordure">
                  <li class="page-item"><a class="page-link" href="#"> << </a></li>
                  <li class="page-item "><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link SelectPage" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#"> >> </a></li>
                </ul>
              </nav>
            </div>
        </div>
    </div>
    </div>
