<div class="table-container mat-elevation-z3">
   <div class="row panier"></div>
    <app-panier *ngIf="OpenPanier"></app-panier>
    <div class="rightS">
  <div class="caption">
    <div class="leftS"><h5>Liste des Clients |</h5></div>
   
      <!--  -->
      <div class="searchetajout">
        <!--  -->
        <div class="search-box">
          <button class="btn-search"><i class="fas fa-search"></i></button>
          <input
            matInput
            (input)="filterelement($event)"
            placeholder="Search"
            class="input-search"
          />
        </div>
        <!--  
        <button class="btn add-user-btn" (click)="openDialog()">
          <mat-icon>add</mat-icon>Ajouter Catégorie
        </button>-->
      </div>
    </div>
  </div>
  <!-- --------------------------------------------------------TABLEAU------------------------------ -->

  <div class="tablecontainer">
    <!--  -->
    <table class="mat-elevation-z8 user-table tableS">
      <!--  -->
      <thead role="rowgroup">
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Statut</th>
          <th>Addresse</th>
          <th>Téléphone</th>
          <th>ََActions</th>
        </tr>
      </thead>
      <!--  -->
      <tbody>
        @for (list of ListeCient; track list) {
          <tr >
            <td>{{list.id}}</td>
            <td>{{list.nom}}</td>
            <td>{{list.prenom}}</td>

            <td> {{list.status}} </td>
            <td>{{list.adresse}}</td>
            <td>{{list.telephone}}</td>

          
            
            <td >
             <button  (click)="OuvrirPanier()" class="btns">
               <mat-icon style="color: #ee4d2d">shopping_cart</mat-icon>
             
             </button> 
             <button (click)="Suppriner(list.id)" class="btns">
               <mat-icon style="color: #ee4d2d">delete</mat-icon>
             </button>
            </td>
          </tr>
        }
       
      </tbody>
      <!--  -->
    </table>
    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      class="pagination"
    >
    </mat-paginator>
  </div>
</div>
