<h6 mat-dialog-title class="mat-title">
  {{ data.numero ? "Edit Categorie" : "Ajout de Categorie" }}
  <mat-icon mat-button (click)="onNoClick()" class="btn_close">close</mat-icon>
</h6>
<mat-dialog-content class="mat-typography ajoutCategorie">
  <form [formGroup]="categorieForm" class="popup">
    <mat-form-field class="full-width">
      <mat-label>Libelle</mat-label>
      <input matInput placeholder="libelle" formControlName="libelle" />
    </mat-form-field>
   <!-- Uploader Image -->
    <div class="image-upload">
      <label for="file">Image</label>
      <input
        type="file"
        id="file"
        (change)="  onFileSelected($event)"
        formControlName="image"
        accept="image/*"
      />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="onReset()" class="btn reset">Reset</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    class="btn submit"
  >
    {{ isEditMode ? "Modifier" : "Ajouter" }}
  </button>
</mat-dialog-actions>
