<div class="container">
  <h2 class="Tableau">Tableau des Livraisons</h2>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Numéro de Commande Column -->
    <ng-container matColumnDef="numeroCommande">
      <mat-header-cell *matHeaderCellDef class="en-tête"> N°Commande </mat-header-cell>
      <mat-cell *matCellDef="let element" class="cellule"> {{element.numeroCommande}} </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="en-tête"> Date </mat-header-cell>
      <mat-cell *matCellDef="let element" class="cellule"> {{element.date}} </mat-cell>
    </ng-container>

    <!-- Nom du Client Column -->
    <ng-container matColumnDef="nomClient">
      <mat-header-cell *matHeaderCellDef class="en-tête"> Nom du client </mat-header-cell>
      <mat-cell *matCellDef="let element" class="cellule"> {{element.nomClient}} </mat-cell>
    </ng-container>

    <!-- Contact Client Column -->
    <ng-container matColumnDef="contactClient">
      <mat-header-cell *matHeaderCellDef class="en-tête"> Contact client </mat-header-cell>
      <mat-cell *matCellDef="let element" class="cellule"> {{element.contactClient}} </mat-cell>
    </ng-container>

    <!-- Total Commande Column -->
    <ng-container matColumnDef="totalCommande">
      <mat-header-cell *matHeaderCellDef class="en-tête"> Total Commande </mat-header-cell>
      <mat-cell *matCellDef="let element" class="cellule"> {{element.totalCommande}} </mat-cell>
    </ng-container>

    <!-- Option Column -->
    <ng-container matColumnDef="option">
      <mat-header-cell *matHeaderCellDef class="en-tête"> Option </mat-header-cell>
      <mat-cell *matCellDef="let element" class="cellule">
        <mat-select class="cellule">
          <mat-option value="etatCommande">Etat de la commande</mat-option>
          <mat-option value="livre">Livré</mat-option>
          <mat-option value="enCours">En cours</mat-option>
          <mat-option value="expedie">Expédié</mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<!-- livraison.component.html -->
<div class="livraison-container">
  <div class="stat-box">
    <h3 class="Tableau">Statistique</h3>
    <div class="stat-item">
      <span class="titre">Nombre total de livraisons</span>
      <span>{{ totalDeliveries }}</span>
    </div>
    <div class="stat-item">
      <span class="titre">Livraisons en cours</span>
      <span>{{ ongoingDeliveries }}</span>
    </div>
    <div class="stat-item">
      <span class="titre">Livraisons réussies</span>
      <span>{{ successfulDeliveries }}</span>
    </div>
  </div>
  <div class="sales-graph">
    <h3 class="Tableau">Livraison de la sémaine</h3>
    
    <div class="line" [chart]="lineChart">
      
    </div>
  </div>
</div>