<h5 mat-dialog-title class="mat-title">
  {{ isEditMode ? "Modifier Produit" : "Ajout de produit" }}
  <mat-icon mat-icon-button (click)="onNoClick()" class="close-button">
    close
  </mat-icon>
</h5>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="productForm" class="popup">
    <!-- Description Field -->
    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description" />
    </mat-form-field>
    
    <!-- Prix Field -->
    <mat-form-field class="full-width">
      <mat-label>Prix</mat-label>
      <input
        matInput
        placeholder="Prix"
        formControlName="prix"
        type="number"
        step="any"
      />
    </mat-form-field>
    
    <!-- Quantité Field -->
    <mat-form-field class="full-width">
      <mat-label>Quantité</mat-label>
      <input
        matInput
        placeholder="Quantité"
        formControlName="quantite"
        type="number"
      />
    </mat-form-field>
    
    <!-- Libelle Field -->
    <mat-form-field class="full-width">
      <mat-label>Libelle</mat-label>
      <input matInput placeholder="Libelle" formControlName="libelle" />
    </mat-form-field>
    
    <!-- Uploader Image -->
    <div class="image-upload">
      <label for="file">Image</label>
      <input
        type="file"
        id="file"
        (change)="onFileChange($event)"
        formControlName="image"
        accept="image/png"
      />
    </div>
    
    <!-- Categorie select -->
    <mat-form-field class="full-width">
      <mat-label>Categorie</mat-label>
      <mat-select
        formControlName="category"
        (selectionChange)="onCategoryChange($event)"
      >
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.libelle }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <!-- SousCategorie selectOption -->
    <mat-form-field
      class="full-width"
      *ngIf="filteredSousCategories.length > 0"
    >
      <mat-label>SousCategorie</mat-label>
      <mat-select formControlName="sousCategory">
        <mat-option
          *ngFor="let sousCategory of filteredSousCategories"
          [value]="sousCategory.id"
        >
          {{ sousCategory.libelle }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button (click)="onReset()" class="btn reset">Reset</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    class="btn submit"
  >
    {{ isEditMode ? "Modifier" : "Ajouter" }}
  </button>
</mat-dialog-actions>
