.containerP{
  text-align: center;
  background: #fff;
  width: 500px;
}
.content{
  text-align: center;
  padding: 10px;
}
h5{
  color: #05091d;
  font-size: 17px;
  font-weight: 500;
}
.btn_row{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button{
background: none;
border: 1px solid #EE4D2D;
padding: 5px;
border-radius: 5px;
width: 50%;
}
