<div class="corps">

<h2>Ajouter une Categorie
<span><button class="Add" (click)="affichemodal()" >+Ajouter</button></span>
</h2>
</div>




<div *ngIf="Ismodal" id="containe">
  <!--
    <form action="">
       <span id="span1" (click)="hideContainer()">X</span>

      <input type="text">
      <input type="text">
      <button>Ajouter</button>
    </form>
  -->
  <div class="form-container">
    <form id="category-form">
      <h4>Formulaire de Catégorie</h4>
      <div class="form-group">
        <label for="category-id">Id</label>
        <input type="text" id="category-id" name="category-id" required>
      </div>
      <div class="form-group">
        <label for="category-name">Nom Catégorie</label>
        <input type="text" id="category-name" name="category-name" required>
      </div>
      <button type="submit">Soumettre</button>
    </form>
</div>
</div>




<div class="table-container">
  <h5>Liste des Commandes |</h5>
  <table id="example" class="table table-striped table-bordered ">
    <thead>
    <tr>
      <th>ID</th>
      <th>Categorie</th>
      <th>Option</th>
    </tr>
    </thead>


    <tr>
      <td>1</td>
      <td>12/03/2023</td>
      <td>Bakary Samaké</td>
    </tr>

  </table>
</div>

