<div class="table-container">
    <h5>Liste des personnels |</h5>
    <table id="example" class="table   ">
      <thead>
        <tr >
          <th >Id</th>
          <th >Nom prénom </th>
          <th >Mot de passe  </th>
          <th>Téléphone</th>
          <th>ََActions</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>1</td>
          <td>Adama Diarra</td>
          <td>******</td>
          <td>99 44 32 44</td>
  
          <td>
            <a class="btn optionbtn btns">Desactif</a>&nbsp;
          <a  class=" btn delete"><i class="fa fa-trash btns"></i> </a>&nbsp;
  
          </td>
        <tr >
          <td>1</td>
          <td>Adama Diarra</td>
          <td>******</td>
          <td>99 44 32 44</td>
  
          <td>
            <a class="btn optionbtn btns">Desactif</a>&nbsp;
            <a  class=" btn delete"><i class="fa fa-trash btns"></i> </a>&nbsp;
  
          </td>
        </tr>
    
        
        
         
         
      </tbody>
    </table>
  </div>
