<div class="Login">
  <div class="container contente ">

    <div class="row">
      <div class="col-5 imag borders-left">
        <img src="assets/mariame.png" alt="logo">

        <div class="footer">
          <p class="text-foote ">Mira Shop - CopyRight reserved  | 2024</p>
        </div>
      </div>
      <div class="col-7 rightside" >

        <div class="contain ">
          <h3 class="text-center">Bienvenue sur MiraShop</h3>
          <p class="text-center">S’il vous plait entrer vos identifications pour vous connecter</p>
        </div>
        <div class="contain ">

          <form method="loginForm">
            <div class="mb-3 ">
              <label for="username" class="form-label ">Utilisateur</label>
              <input type="text" name="username" class="form-control borderall " id="username" placeholder="username" required>

            </div>
            <div class="mb-3">
              <label for="password" class="form-labe l">Mot de passe</label>
              <input type="password" name="password" class="form-control borderall " id="password" placeholder="password" required>

            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Se souvenir de moi <span class=" forget"><a href="#">Mot de passe oublié ?</a></span>
              </label>
            </div>
            <div class="d-grid gap-2 mx-auto btns">

              <button  (click)="login()" type="submit" class="btn bouton  btncolor">Connexion</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



</div>
