<div class="table-container">
    <h5>Liste des payements |</h5>
    <table id="example" class="table   ">
      <thead>
        <tr>
          <th>N°Payement</th>
          <th>Date</th>
          <th>Total </th>
          <th>Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>12/03/2023</td>
          <td>100000 F</td>
          <td>
            <select>
              <option value="livré">Etat de la commande</option>
              <option value="livré">Livré</option>
              <option value="en cours">En cours</option>
              <option value="expédié">Expédié</option>
            </select>
          </td>
        </tr>

        <tr>
          <td>1</td>
          <td>12/03/2023</td>
          <td>100000 F</td>
          <td>
            <select>
              <option value="livré">Etat de la commande</option>
              <option value="livré">Livré</option>
              <option value="en cours">En cours</option>
              <option value="expédié">Expédié</option>
            </select>
          </td>
        </tr>
       
      </tbody>
    </table>
  </div>
