<div *ngIf="isContainerVisible" id="containe">
  <div class="formulaire">
    <form (ngSubmit)="ajouterProduit()">
      <i id="span1" (click)="hideContainer()" class="fa-solid fa-x"></i>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="produit.description" name="description" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Prix</mat-label>
        <input matInput [(ngModel)]="produit.prix" name="prix" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quantite</mat-label>
        <input matInput [(ngModel)]="produit.quantite" name="quantite" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>libelle</mat-label>
        <input matInput [(ngModel)]="produit.libelle" name="libelle" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sous-Catégorie</mat-label>
        <mat-select [(ngModel)]="produit.sousCategory.id" name="sousCategory" required>
          <mat-option *ngFor="let sousCategory of sousCategories" [value]="sousCategory.id">
            {{ sousCategory.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" >Ajouter</button>
    </form>
  </div>
</div>
<!-- Formulaire de modification -->
<div *ngIf="isEditContainerVisible" id="editContainer">
  <div class="formulaire">
    <form (ngSubmit)="modifierProduit(produitModifier.id, produitModifier)" #editProduitForm="ngForm">
      <i id="span1" (click)="hideEditContainer()" class="fa-solid fa-x"></i>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="produitModifier.libelle" name="nom" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quantite</mat-label>
        <input matInput [(ngModel)]="produitModifier.quantite" name="quantite" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Prix</mat-label>
        <input matInput [(ngModel)]="produitModifier.prix" name="prix" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="produitModifier.description" name="description" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sous-Catégorie</mat-label>
        <mat-select [(ngModel)]="produit.sousCategory.id" name="sousCategory_id" required>
          <mat-option *ngFor="let sousCategory of sousCategories" [value]="sousCategory.id">
            {{ sousCategory.libelle }}
          </mat-option>
        </mat-select>
      </mat-form-field>



      <button mat-raised-button color="primary" type="submit">Modifier</button>
    </form>
  </div>
</div>
<!-- Formulaire de suppression -->
<div *ngIf="isDeleteContainerVisible" id="deleteContainer">
  <div class="formulaire">
    <form (ngSubmit)="supprimerProduit(produitModifier.id)" #deleteProduitForm="ngForm">
      <i id="span1" (click)="hideDeleteContainer()" class="fa-solid fa-x"></i>
      <p>Êtes-vous sûr de vouloir supprimer ce produit ?</p>
      <button mat-raised-button color="warn" type="submit">Supprimer</button>
    </form>
  </div>
</div>
<div class="table-container mat-elevation-z3">
  <div class="caption">
    <div class="leftS"><h5>Liste des produits|</h5></div>
    <div class="rightS">
      <!--  

      <div class="searchBox">
        <input
          class="searchInput searchInput1"
          [(ngModel)]="searchText"
          (ngModelChange)="applyFilter()"
          type="text"
          name=""
          placeholder="Rechercher"
        />
        <button class="searchButton" href="#">
          <i class="material-icons"> search </i>
        </button>
      </div>  -->

      <!--  -->
      <button mat-raised-button class="btn" (click)="showContainer()">
        <mat-icon>add</mat-icon>Ajouter
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="tableS" role="table">
    <!-- Columns Definitions -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef>Numéro</th>
      <td mat-cell *matCellDef="let row">{{ row.id }}</td>
    </ng-container>
    <ng-container matColumnDef="libelle">
      <th mat-header-cell *matHeaderCellDef>Nom de Produit</th>
      <td mat-cell *matCellDef="let row">{{ row.libelle }}</td>
    </ng-container>
    <ng-container matColumnDef="quantite">
      <th mat-header-cell *matHeaderCellDef>Quantité</th>
      <td mat-cell *matCellDef="let row">{{ row.quantite }}</td>
    </ng-container>
    <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef>Prix</th>
      <td mat-cell *matCellDef="let row">{{ row.prix}}</td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let row">{{ row.date}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>description</th>
      <td mat-cell *matCellDef="let row">{{ row.description}}</td>
    </ng-container>
    <ng-container matColumnDef="utilisateur">
      <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
      <td mat-cell *matCellDef="let row">{{ row.utilisateur.id}}</td>
    </ng-container>
    <ng-container matColumnDef="sousCategory">
      <th mat-header-cell *matHeaderCellDef>SousCategorie</th>
      <td mat-cell *matCellDef="let row">{{ row.sousCategory.id}}</td>
    </ng-container>
    <!--  -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="showEditContainer(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="showDeleteContainer(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>