<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul class="nav-list">
                <li><a href="/parametres" class="btn btn">Modifier profil</a></li>
                <li><a href="/securite" class="btn btn-info">Sécurité</a>
                    <hr class="hr-bottom"></li>
                
                
            </ul>
           
        </nav>

        <div id="modifier" class="section">
            <form>
                <div class="form-row">
                    <div class="form-column">
                        <div class="form-group">
                            <label for="nouveauMotDePasse"> Mot de Passe :</label>
                            <input type="password" class="form-control" id="nouveauMotDePasse" 
                                   [(ngModel)]="currentUser. password" name="nouveauMotDePasse">
                        </div>
                       
                        <div class="form-group">
                            <label for="nouveauMotDePasse">Nouveau Mot de Passe :</label>
                            <input type="password" class="form-control" id="nouveauMotDePasse" name="nouveauMotDePasse">
                        </div>
                        <div class="button-container">
                    
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                       
                    </div>
                </div> 
            </form>
        </div>

    </div>
</body>
</html>