<div class="table-container">
    <h5>Liste des produits dans le stock</h5>
    <table id="example" class="table   ">
      <thead>
        <tr>
          <th>N°Produit</th>
          <th>Nom du Produit</th>
          <th>Date d'ajout</th>
          <th>Quantité ajouté</th>
          <th>Ajouté Par</th>
          <th>Option</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Lait</td>
          <td>12/03/2023</td>
          <td>1000</td>
          <td>Bakary Samaké</td>

          <td>
            <a class="btn edit"><i class="fa fa-pencil btns"></i></a>

          <a  class=" btn delete"><i class="fa fa-trash btns"></i> </a>&nbsp;
  
          </td>
        </tr>

        <tr>
            <td>1</td>
            <td>Lait</td>
            <td>12/03/2023</td>
            <td>1000</td>
            <td>Bakary Samaké</td>
  
            <td>
              <a class="btn edit"><i class="fa fa-pencil btns"></i></a>
  
            <a  class=" btn delete"><i class="fa fa-trash btns"></i> </a>&nbsp;
    
            </td>
          </tr>
      
    
        
        
         
         
      </tbody>
    </table>
  </div>
