@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

main {
  height: 100%;
  background-color: #e3f1ff;
  padding: 10px;
}

app-icon-card {
  margin-bottom: 10px;
}

p {
  color: black;
}

.selectjour {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.selectjour form select {
  border: none;
  font-size: 12px;
  padding: 10px;
  font-weight: bold;
  outline: none;
  border: 1px solid gray;
}

.conteneurprincipal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#carteconteneur {

  display: grid;
  justify-content: center;
  grid-auto-flow: row;
  grid-template-areas: 
  "cart1 cart2"
  "cart3 cart4"
  ;
  gap: 15px;
}

.bigCard,
.cardSmall,
.commande,
.produit {
  background-color: white;
  margin: 10px 5px;
  border-radius: 5px;
  padding: 1px;
}

.section1,
.section2 {
  display: flex;
  flex-direction: row;
}

.bigCard,
.commande {
  height: 300px;
  width: calc(100vw - 370px);
}

.cardSmall,
.produit {
  height: 300px;
  width: 300px;
}

.commande p,
.produit p {
  font-weight: 500;
}

@media (min-width: 768px) {

}

@media (max-width: 620px) {
#carteconteneur {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  gap: 15px;
}
  .section1 {
    flex-wrap: wrap;
    width: 75vw;
  }

  .section2 {
    flex-wrap: wrap;
     width: 75vw;
     justify-content: center;
  }

  .bigCard,
  .commande,
  .cardSmall,
  .produit {
    width: 100vw;
  }
}
