You can add global styles to this file,
and also import other style files :root {
  --degraderblue: #0085ff;
  --degraderblanc: #e3f1ff;
  --Orangefort: #eb4028;
  --violet: #eb2891;
  --bluefort: #9747ff;
  --mainColor: #ee4d2d;
  --secondColor: #8c21ff;
  --activeColor: #f4f8fa;
  --gradientColor: linear-gradient(var(--mainColor), var(--secondColor));
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  box-sizing: border-box;
  height: 120vh;
  background-color: #e3f1ff;
  color: black;
  /* padding-top: 30px; */
}
h5 {
  color: #fff;
}
.test {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  color: #ee4d2d;
}

.mat-mdc-paginator-page-size-label {
  display: none;
}

.p-toast {
  position: absolute;
  left: 20px;
  top: 20px;
}

.mat-mdc-paginator .mat-mdc-select-value {
  color: rgb(100, 97, 97);
}

.mat-mdc-select-arrow {
  color: rgb(66, 64, 64);
}
.mdc-dialog--open .mat-mdc-dialog-surface {
  background: #fff;
}
mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #bec9c8;
  color: #ee4d2d;
}
.mdc-text-field--no-label:not(.mdc-text-field--textarea)
  .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
  color: #292828;
}
.edit-icon {
  color: #673ab7;
}